h1 {
  color: Green;
}

.container {
  background-color: rgba(0, 0, 0, 0.345);
  width: 90%;
  height: 550px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.container div {
  height: 150px;
  width: 150px;
}
